<h1>Listing cities</h1>

<table>
  <tr>
    <th>Nae</th>
    <th>Description</th>
    <th>Localtion</th>
    <th>State</th>
    <th>Contry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%= city.nae %></td>
    <td><%= city.description %></td>
    <td><%= city.localtion %></td>
    <td><%= city.state %></td>
    <td><%= city.contry %></td>
    <td><%= link_to 'Show', city %></td>
    <td><%= link_to 'Edit', edit_city_path(city) %></td>
    <td><%= link_to 'Destroy', city, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New City', new_city_path %>
